body {
    background-color: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
}

#buttons {
    bottom: 10%;
    width: 100%;
    position: sticky;
    height: calc(var(--tg-viewport-stable-height) - 150px);
}

button {
    visibility: hidden;
    display: block;
    position: sticky;
    width: 100%;
    height: 25%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    border: none;
    padding: 14px 28px;
    font-size: 24px;
    text-align: center;
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
}

table,
tr,
td {
    word-break: break-word;
    border: 3px solid var(--tg-theme-button-color);
    border-collapse: collapse;
    /* border: 5px solid grey; */
}

table {
    /* display: block; */
    position: absolute;
    top: 10px;
    visibility: hidden;
    text-align: center;
    font-size: 24px;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
}

td {
    height: 36px
}

#counter {
    float: right;
    height: 24px;
    font-size: 24px;
}

#question {
    width: 100%;
    height: 100px;
    font-size: xx-large;
    text-align: center;
    display: block;
}