body {
    background-color: var(--tg-theme-bg-color, white);
    color: var(--tg-theme-text-color, black);
}

#question {
    width: 100%;
    height: 10%;
    font-size: xx-large;
    text-align: center;
    display: block;
}

#buttons {
    height: 70%;
    width: 100%;
    height: calc(var(--tg-viewport-stable-height) - 150px);
}

button {
    display: block;
    position: sticky;
    width: 100%;
    height: 20%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    border: none;
    padding: 14px 28px;
    font-size: 24px;
    text-align: center;
    background-color: var(--tg-theme-button-color, #5288c1);
    color: var(--tg-theme-button-text-color, black);
}

.right {
    text-align: right;
    margin-right: 10em;
}

.left {
    text-align: left;
    margin-left: 10em;
}

table,
tr,
td {
    word-break: break-word;
    border: 3px solid var(--tg-theme-button-color, #5288c1);
    border-collapse: collapse;
}

table {
    font-size: 24px;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
}

td {
    height: 36px
}

.header {
    display: block;
    font-size: 24px;
    margin-bottom: 50px;
}


/* Dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }

    button {
        color: white;
    }
}

/* Light mode */
@media (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: black;
    }

    button {
        color: black;
    }
}